h1 {
    text-align: center;
}

.header-photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    border-radius: 5%;
}
.carousel-item {
    margin-left: auto;
    margin-right: auto;
    width: 65%;
}

.tcg-tiles {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.tcg-img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 5%;
}

.tcg-text {
    text-align: center;
    margin: 2%;
}

.booster-packs {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.booster-prices {
    text-align: center;
    font-size: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}